

@font-face {
  font-family: akzidenz; 
  src:url(../fonts/akzidenz.ttf)
}

.cstm_txt1{
  font-family:akzidenz !important;
}

.hero-right-text {
  position: absolute;
  right: 34px !important;
  top: 54% !important;   
  transform: translateY(-50%) !important;
  font-weight: bold !important;
  color: #3f3d56 !important;
}