

@font-face {
  font-family: akzidenz; 
  src:url(../fonts/akzidenz.ttf)
}

.cstm_txt1{
  font-family:akzidenz !important;
}

.hero-right-text {
  position: absolute;
  right: 34px !important;
  top: 54% !important;   
  transform: translateY(-50%) !important;
  font-weight: bold !important;
  color: #3f3d56 !important;

}



@media (max-width: 767px) {
  #hero {
    min-height: auto;
    padding-top: 4.5rem;
    padding-bottom: 1.5rem;
  }

  .hero-image-wrapper {
    margin: -1.5rem 0;      
    line-height: 0;        
  }

  .hero-image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
  }
}